body {
  margin: 0;
}

.topnav {
  background-color: #041754;
}

.topnav img {
  max-height: 20px;
  margin-top: -15px;
}

.topnav .navbar-brand {
  padding: 4px;
  max-height: 30px;
  margin-top: 2px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.topnav .navbar-brand .logo-01:hover, .topnav .navbar-brand .logo-02:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media only screen and (max-width: 500px) {
  .topnav .mr-2 {
    color: #041754;
  }
}

.sticky {
  position: fixed;
  width: 100%;
  z-index: 99 !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.kontak-01, .kontak-02 {
  color: white !important;
  margin-top: 10px;
  text-align: center;
  font-size: 11px;
  margin-right: 20px;
}

.kontak-01:hover::after, .kontak-02:hover::after {
  content: '';
  display: block;
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid orangered;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

.kontak-01 {
  border-left: 1px solid #fff;
  padding-left: 8px;
}

.scrollnav {
  -webkit-box-shadow: 0px 1px 1rem;
          box-shadow: 0px 1px 1rem;
}

.navbar-dark {
  background: -webkit-gradient(linear, left top, right top, from(#041754), to(#214972));
  background: linear-gradient(to right, #041754, #214972);
  width: 100%;
  padding: 3px;
  top: 0;
  z-index: 99 !important;
}

.navbar-dark img {
  max-height: 55px;
}

.navbar-dark a {
  color: #fff !important;
}

.navbar-brand img :hover {
  background-color: none;
}

.navbar-nav a {
  padding: 18px;
  text-decoration: none;
  font-size: 14px;
  display: block;
  text-align: center;
  margin: auto;
}

.navbar-nav .dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  margin-top: -2px;
}

.navbar-nav .dropdown-menu a {
  display: block;
  color: #000 !important;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: bold;
}

.navbar-nav .dropdown-menu a:hover {
  background-color: #f4f5f5;
  color: #041754;
  font-weight: bold;
}

.navbar-nav li:hover::after {
  content: '';
  display: block;
  border-bottom: 2px solid orangered;
  padding-bottom: 5px;
  margin-bottom: -8px;
  width: 50%;
  margin-left: 16px;
  margin-top: -15px;
}

.navbar-nav .nav-item .navbar-toggler {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 8px 8px;
  background-color: inherit;
  font-family: inherit;
}

.navbar-nav .nav-item:hover .dropdown-menu {
  display: block;
  min-width: 100%;
}

#barcode-nav {
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#barcode-nav:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 99;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 40%;
  max-height: 80% !important;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 600px) {
  .modal-content {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .navbar-dark.responsive {
    position: relative;
  }
  .navbar-dark.responsive {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-dark.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .navbar-dark.responsive .dropdown {
    float: none;
  }
  .navbar-dark.responsive .dropdown-item {
    position: relative;
  }
  .navbar-dark.responsive .dropdown .dropdown-menu {
    display: block;
  }
}

.carousel-inner a {
  width: 20px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  max-height: 600px;
  margin-top: -50px;
}

.section-about {
  margin-top: 30px;
  color: #041754;
}

.section-about .about-detail {
  height: 60px;
  padding: 8px;
}

.section-about .title-news {
  font-weight: bold;
  text-align: center;
}

.section-about img {
  max-height: 25px;
  float: left;
  margin-top: 15px;
}

.section-conten {
  min-height: 180px;
  margin-top: -50px;
  margin-bottom: -230px;
  background-color: #fff;
}

.section-content-item .section-content-news {
  margin-top: 120px;
}

.section-content-item .section-content-news .card-item {
  min-height: 200px;
  min-width: 270px;
  background-color: #fff;
  background-size: cover;
  margin-top: 30px;
  border: 1px solid #ddd;
  padding: 5px;
}

.section-content-item .section-content-news .card-item .item-img {
  background-color: rgba(0, 0, 0, 0.9);
}

.section-content-item .section-content-news .card-item .item-img img {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section-content-item .section-content-news .card-item .item-img img:hover {
  opacity: 0.7;
}

.section-content-item .section-content-news .item-judul a {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

.section-details .btn-details {
  margin-bottom: 80px;
  border: 1px solid #041754;
  color: #041754;
  border-radius: 20px;
}

.section-details .btn-details:hover {
  background-color: #041754;
  color: white;
}

.section-sambutan {
  margin-top: 0;
  color: #041754;
}

.section-sambutan .title-news {
  font-weight: bold;
  text-align: center;
}

.section-sambutan img {
  max-height: 25px;
  float: left;
  margin-top: 15px;
}

.section-sambutan .sambutan-details {
  height: 60px;
  padding: 8px;
  background-color: #041754;
}

.section-01 {
  margin-top: -100px;
  padding: 0;
  background-color: #21497210;
}

.section-01 img {
  max-width: 50%;
  height: 210px;
}

.font-size-01 {
  color: #041754;
  margin-top: 50px;
}

.section-award {
  margin-top: 50px;
  color: #041754;
}

.section-award .title-news {
  font-weight: bold;
  text-align: center;
}

.section-award img {
  max-height: 25px;
  float: left;
  margin-top: 15px;
}

.section-content-award .flip-card {
  background-color: transparent;
  width: 45vh;
  height: 30vh;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin-top: 50px;
}

.section-content-award .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 4px 8px 0 #dddddd;
          box-shadow: 0 4px 8px 0 #dddddd;
}

.section-content-award .flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.section-content-award .flip-card-front,
.section-content-award .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.section-content-award .flip-card-front {
  background-color: #fff;
  color: black;
}

.section-content-award .flip-card-back {
  background: -webkit-gradient(linear, left top, right top, from(#041754), to(#214972));
  background: linear-gradient(to right, #041754, #214972);
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.section-content-award .card-title {
  display: inline-block;
  color: #fff;
  padding: 20px;
}

.section-content-award .card-title:hover::after {
  content: '';
  display: block;
  text-decoration: none !important;
  color: #000;
  border-bottom: 3px solid orangered;
  padding-bottom: 5px;
  margin-bottom: -8px;
  width: 50%;
  margin: auto;
}

.section-video {
  margin-top: 50px;
  color: #fff;
}

.section-video .text-video {
  font-weight: bold;
  text-align: center;
}

.section-video img {
  max-height: 25px;
  float: left;
  margin-top: 15px;
}

.section-content-video {
  background: -webkit-gradient(linear, left top, right bottom, from(#041754), to(#214972));
  background: linear-gradient(to bottom right, #041754, #214972);
  padding-bottom: 100px;
  margin-top: -100px;
}

.section-content-video .card-01 {
  max-width: 100%;
  color: #fff;
  background-size: cover;
  margin-bottom: 20px;
  margin-top: 150px;
}

.section-content-video .card-01:hover {
  opacity: 0.8;
}

.section-content-video a {
  font-size: 18px;
  color: #fff;
}

.section-details .btn-details-02 {
  margin-bottom: 80px;
  background-color: #041754;
  color: #fff;
  font-size: small;
  border-radius: 20px;
  border: 1px solid #fff;
}

.section-details .btn-details-02:hover {
  background-color: transparent;
  color: white;
}

.section-partner {
  margin-top: -100px;
  background-color: #fff;
  padding-top: 25px;
  padding-bottom: 20px;
  -webkit-box-shadow: 3px 10px 10px #00000015;
          box-shadow: 3px 10px 10px #00000015;
  border-radius: 5px;
}

.section-partner h2 {
  margin-left: 20px;
  margin-top: 20px;
  color: #041754;
  font-weight: bold;
  font-size: 40px;
}

.section-partner p {
  margin-left: 20px;
  color: #041754;
  font-weight: lighter;
  font-size: 18px;
}

.section-partner .img-partner {
  border: 2px solid #21405E;
}

.top-bar {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: .25em;
  width: 40px;
  height: 40px;
  background-color: #04175450;
  color: #fff;
  z-index: 99;
}

.top-bar.show {
  visibility: visible;
  opacity: 1;
}

.top-bar.hide {
  visibility: hidden;
  opacity: 0;
}

.top-bar:hover {
  text-decoration: none;
  color: #fff;
  background-color: #041754;
}

.section-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 8px;
  background-color: #fff;
}

.section-footer h5 {
  color: #041754;
}

.section-footer a {
  color: #041754;
}

.section-footer-01 {
  padding-bottom: 20px;
  margin-top: -50px;
  padding-left: 100px;
  margin-bottom: 48px;
  background: -webkit-gradient(linear, left top, right bottom, from(#041754), to(#214972));
  background: linear-gradient(to bottom right, #041754, #214972);
  border-radius: 5px;
}

.section-footer-01 li {
  color: #fff;
}

.section-footer-01 i {
  color: #fff;
}

.section-footer-01 p {
  color: #fff;
}

.section-footer-01 .link-whatsapp {
  color: #fff;
}

.section-footer-01 .link-whatsapp:hover {
  color: yellow;
}

.copyright {
  background-color: transparent;
  margin: 10px;
  padding: auto;
  text-decoration: none;
}

.copyright img {
  margin-right: 100px;
  max-width: 20%;
}

.copyright .copyright-title {
  color: #041754;
  font-weight: lighter;
  font-size: small;
  text-transform: uppercase;
  margin-left: 50px;
}

.copyright .social a {
  color: #000;
  margin: 10px;
}

.copyright .social a:hover {
  color: #041754;
  text-decoration: none;
}

.section-details-header {
  min-height: 100px;
  background-color: #F5F5F5;
  margin-top: 0;
}

.section-details-content {
  margin-top: -80px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #21405E;
}

.social-nav {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.social-nav .social-01 {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.social-nav .facebook {
  color: #3b5998;
}

.social-nav .youtube {
  color: #FF0000;
}

.social-nav .twitter {
  color: #00acee;
}

.social-nav .instagram {
  background: -webkit-gradient(linear, left top, left bottom, from(#515bd4), color-stop(#8134af), color-stop(#dd2a7b), color-stop(#feda77), to(#f58529));
  background: linear-gradient(#515bd4, #8134af, #dd2a7b, #feda77, #f58529);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-nav .line {
  color: #00b900;
}

.social-nav a:hover {
  text-decoration: none;
}

.social-nav .facebook:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.social-nav .youtube:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.social-nav .twitter:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.social-nav .instagram:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.social-nav .line:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.section-details-01 h1 {
  color: #000;
}

.section-details-01 h6 {
  color: #707070;
  font-weight: lighter;
}

.card-terkait {
  background-color: yellow;
}

.card-terkait a {
  margin-top: 15px;
}

.card-terkait p {
  color: #333;
}

.section-navbar-header {
  min-height: 30px;
  background-color: #E8EAF6;
  margin-top: 0;
}

.section-navbar-content {
  margin-top: -55px;
  min-height: 20vh;
}

.section-navbar-content .navbar-breadcrumb {
  background-color: transparent;
  padding: 5;
  margin-bottom: 10px;
  color: #000;
}

.section-navbar-content .navbar-breadcrumb .breadcrumb-navbar {
  font-weight: lighter;
  margin: auto;
  font-size: small;
}

.section-navbar-content .navbar-breadcrumb .breadcrumb-navbar .Berita-Utama {
  color: #000;
  margin: 10px;
}

.section-navbar-content .navbar-breadcrumb .breadcrumb-navbar .Berita-Utama.active {
  font-weight: bold;
  text-decoration: none;
}

.section-navbar-content .navbar-breadcrumb .breadcrumb-navbar .Berita-Utama:hover {
  text-decoration: none;
  color: #000;
  border-bottom: 3px solid orangered;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

.section-navbar-content .navbar-breadcrumb .breadcrumb-navbar .Penelitian {
  color: #000;
  margin: 10px;
}

.section-navbar-content .navbar-breadcrumb .breadcrumb-navbar .Penelitian:hover {
  text-decoration: none;
  color: #000;
  border-bottom: 3px solid orangered;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

.section-navbar-content .navbar-breadcrumb .breadcrumb-navbar .Akademik {
  color: #000;
  margin: 10px;
}

.section-navbar-content .navbar-breadcrumb .breadcrumb-navbar .Akademik:hover {
  text-decoration: none;
  color: #000;
  border-bottom: 3px solid orangered;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

.section-navbar-content .navbar-breadcrumb .breadcrumb-navbar .Institusi {
  color: #000;
  margin: 10px;
}

.section-navbar-content .navbar-breadcrumb .breadcrumb-navbar .Institusi:hover {
  text-decoration: none;
  color: #000;
  border-bottom: 3px solid orangered;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

.section-navbar-content .navbar-breadcrumb .breadcrumb-navbar .Profil {
  color: #000;
  margin: 10px;
}

.section-navbar-content .navbar-breadcrumb .breadcrumb-navbar .Profil:hover {
  text-decoration: none;
  color: #000;
  border-bottom: 3px solid orangered;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

.section-content-item-category .card-item {
  min-height: 200px;
  min-width: 270px;
  background-color: #fff;
  background-size: cover;
  margin-top: 30px;
  border: 1px solid #ddd;
  padding: 5px;
}

.section-content-item-category .card-item .item-img {
  background-color: rgba(0, 0, 0, 0.9);
}

.section-content-item-category .card-item .item-img img {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section-content-item-category .card-item .item-img img:hover {
  opacity: 0.7;
}

.section-content-item-category .card-item .item-judul {
  font-weight: bold;
}

.search-news {
  margin-top: 10px;
}

.search-news .input-group-btn {
  background-color: #2680EB;
}

.search-news .input-group-btn .btn-default {
  color: #fff;
}

.search-news .input-group-btn .btn-default:hover {
  background-color: #21405E;
}

.text {
  color: #21405E;
  padding: 0;
  margin: 0;
}

.pagination a {
  color: #21405E;
  float: center;
  padding: 8px 16px;
  text-decoration: none;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.pagination a:hover {
  background-color: #21405E;
  color: #fff;
}

.section-profil {
  margin-top: 50px;
  color: #fff;
}

.section-profil h1 {
  font-weight: bold;
  text-align: center;
}

.section-profil img {
  max-height: 25px;
  float: left;
  margin-top: 15px;
}

.content-about {
  margin-top: -40px;
  background-color: #fff;
}

.section-conten-profil {
  margin-top: -100px;
  background: -webkit-gradient(linear, left top, right bottom, from(#041754), to(#214972));
  background: linear-gradient(to bottom right, #041754, #214972);
  min-height: 100%;
  padding-bottom: 100px;
}

.section-conten-profil .card-video {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 50%;
  margin-top: 150px;
  /* 16:9 Aspect Ratio */
}

.section-conten-profil .card-video-details {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.section-header-link {
  background-color: #Fff;
  padding-top: 1px;
  padding-bottom: 5px;
  margin-bottom: -15px;
}

.card-link {
  margin-top: 50px;
  height: 150px;
  background-color: #FBFBFB;
  border: 1px solid #f4f5f5;
  padding: 15px;
  color: #041754;
  text-align: center;
  -webkit-box-shadow: 0 4px 8px 0 #dddddd;
          box-shadow: 0 4px 8px 0 #dddddd;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.card-link img {
  max-height: 65%;
  max-width: 100px;
}

.card-link:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-item-link {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-item-link:after {
  content: '\2192';
  position: absolute;
  font-size: 50px;
  opacity: 0;
  top: 10px;
  right: -10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-link:hover .card-item-link {
  padding-right: 15px;
}

.card-link:hover .card-item-link:after {
  opacity: 1;
  right: 0;
}

.section-right-01 {
  margin-top: 100px;
}

.section-right-01 li:nth-child(2) {
  padding-top: 15px;
}

.section-right-01 a {
  color: #000;
  font-size: small;
}

@media screen and (max-width: 375px) {
  .section-details-content .hr {
    opacity: 0;
  }
}

.award-01-details {
  margin-top: -20px;
  background-color: red;
  color: #fff;
}

.section-content-award-01 {
  margin-top: -50px;
  padding-top: 150px;
  margin-bottom: -10px;
  min-height: 100vh;
  background-color: #21405E;
  color: #fff;
}

.section-content-award-01 .section-details-award .btn-award {
  margin-bottom: 80px;
  background-color: #2680EB;
  color: #fff;
}

.section-content-award-01 .section-details-award .btn-award:hover {
  background-color: #315A8B;
  color: white;
}

.section-content-award-01 hr {
  background-color: #fff;
}

.topnav-login {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.topnav-login ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topnav-login li {
  float: right;
}

.topnav-login li a {
  display: block;
  padding: 8px;
  color: #fff;
}

.section-login-header {
  background-color: #21405E;
  min-height: 89vh;
  margin-top: 0;
}

.section-login-header img {
  margin-top: 25%;
  min-height: auto;
}

.card-login {
  width: 30%;
  border-radius: 10px;
  margin-top: 20%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.158);
}

.card-login p {
  color: #fff;
}

.input {
  margin-bottom: 10px;
  border-radius: 10px;
  border: 0;
  height: 35px;
}

.input-01 {
  margin-bottom: 10px;
  border-radius: 10px;
  border: 0;
  height: 35px;
}

.btn-01 {
  margin-top: 10px;
  margin-left: 33%;
  background-color: #2680EB;
  border-radius: 30px;
  border: 0;
  width: 30%;
  height: 33px;
  color: #fff;
  padding: 0;
}

.btn-01:hover {
  background-color: #267febad;
  color: #fff;
}

.copyright-login {
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: #21405E;
  margin-top: 0;
  padding: 35px 5px;
  color: #fff;
  font-size: small;
}

.hide-md-lg {
  display: none;
}

@media screen and (max-width: 370px) {
  .card-login {
    width: 100%;
    margin-top: 0;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}

.section-kontak-header .card-kontak {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-width: 5px;
  border-radius: 5px;
  border-color: #21405E;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.section-details-02 {
  color: #000;
  margin-left: 60px;
}

.search-02 {
  margin-top: 10px;
}

.search-02 .form-control {
  height: 60px;
}

.search-02 .input-group-btn {
  background-color: #2680EB;
  height: 60px;
  width: 60px;
  text-align: center;
}

.search-02 .input-group-btn .btn-default {
  color: #fff;
  font-size: xx-large;
}

.search-02 .input-group-btn:hover {
  background-color: #3175c9;
}

.btn-submit {
  background-color: #2680EB;
  color: #fff;
}

.btn-submit:hover {
  background-color: #3175c9;
  color: #fff;
}

.section-header-pendaftaran {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-sivitas-01 {
  min-height: 100vh;
  padding-top: 10px;
  max-width: 15%;
  background-color: #f1f1f1;
  border-style: solid;
  border-radius: 2px;
  border-color: #21405E;
  margin-top: 5px;
}

.section-sivitas-left {
  min-height: 100vh;
  padding-top: 10px;
  max-width: 15%;
  background-color: #f1f1f1;
  margin-left: 85%;
  margin-top: -667px;
  border-style: solid;
  border-radius: 2px;
  border-color: #21405E;
}

.section-sivitas-left .card-01 {
  background-color: #21405E;
  margin-bottom: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-sivitas-left .card-01 a {
  color: #fff;
  font-weight: lighter;
}

.header-info {
  margin-top: -667px;
  min-height: 100vh;
  max-width: 64%;
  margin-left: 18%;
}

.header-info .carousel-inner {
  border-style: solid;
  border-radius: 2px;
  border-color: #21405E;
}

.navbar-light {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.navbar-light a {
  color: #21405E;
  float: right;
  padding-right: 10px;
}

.copyright-header {
  width: 100%;
  height: 100px;
  z-index: 99;
  background-color: #21405E;
  color: #fff;
  font-size: small;
  padding: 45px 5px;
}

.section-tentang-header {
  background-color: #F5F5F5;
  min-height: 100vh;
}

.section-tentang-header h1 {
  margin-top: 50px;
  color: #21405E;
}

.section-tentang-header hr {
  margin-top: -2px;
  float: left;
  width: 73%;
  background-color: #21405E;
}

.section-tentang-header .bantuan {
  margin-top: -2px;
  width: 45%;
}

.section-header:before {
  content: "";
  max-width: 100%;
  position: relative;
  min-height: 500px;
  margin-bottom: -430px;
  z-index: -1;
  display: block;
  background-image: url("../images/WhatsApp Image 2020-08-16 at 19.44.15.jpeg");
  background-size: cover;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.card-02 {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 50%;
  /* 16:9 Aspect Ratio */
}

.card-video-details-02 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.title {
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 8px 0px #dddddd;
          box-shadow: 0px 4px 8px 0px #dddddd;
}

.section-content-terkait1 {
  margin-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 500px) {
  .section-footer-01 {
    padding-bottom: 20px;
    margin-top: -50px;
    padding-left: 18%;
    margin-bottom: 48px;
    background: -webkit-gradient(linear, left top, right bottom, from(#041754), to(#214972));
    background: linear-gradient(to bottom right, #041754, #214972);
    border-radius: 5px;
  }
  .copyright img {
    max-width: 70%;
    padding-bottom: 10px;
  }
  .copyright .copyright-title {
    color: #041754;
    font-weight: lighter;
    font-size: 10px;
    margin-left: 0;
  }
  .copyright .social {
    margin-top: 20px;
  }
  .section-partner h2 {
    margin-left: 20px;
    margin-top: 20px;
    color: #041754;
    font-weight: bold;
    font-size: 30px;
  }
  .section-partner p {
    margin-left: 20px;
    color: #041754;
    font-weight: lighter;
    font-size: 20px;
  }
  .section-partner img {
    border: 2px solid #21405E;
    margin: 0px 9px 0px 10px;
    max-width: 15%;
    max-height: 50px;
  }
  .top-bar {
    width: 40px;
    height: 40px;
    background-color: #04175450;
    left: 320px;
  }
}
/*# sourceMappingURL=main.css.map */